package views

templ Default(compontent templ.Component) {
  <!DOCTYPE html>
  <html lang="hu">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kvíz - Go</title>
        <link rel="stylesheet" href="/public/css/style.css" />
      <script src="/public/js/htmx.min.js" defer></script>
      </head>
      <body>
        @compontent
      </body>
  </html>
}
