package views

templ login() {
  <div class="login-form df">
    <div class="username-container df">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        class="username"
        placeholder="Username"
        v-model="username"
      />
    </div>
    <div class="code-container df">
      <label for="code">Game code</label>
      <input
        type="text"
        id="code"
        class="code"
        placeholder="Game code"
        v-model="codeInput"
      />
      <div class="buttons df">
        <button class="code-generator btn" hx-get="/generate" hx-swap="outerHTML" hx-target="#code">Generate game code</button>
        <button type="submit" class="connect btn">
          Csatlakozás
        </button>
      </div>
    </div>
  </div>
}

templ Login() {
    @Default(login())
}

templ RoomId(roomId string) {
      <input
        type="text"
        id="code"
        class="code"
        placeholder="Game code"
        v-model="codeInput"
        value={roomId}
      />
}
